<%- include("templates/header.ejs")-%>

<h1>Quiz</h1>
<div class = "jumbotron">
    <h3>Question: <%=quiz.question%></h3>
    <h5>Score: <%=score%>/<%=qNumber%></h5>
    <form class="form-group" method="get" action="/quiz" >
        
        <input type = "radio" name="choice"  id="<%=quiz.choice1%>" value="<%=quiz.choice1%>"/>
        <label for="<%=quiz.choice1%>"><%=quiz.choice1%></label><br>
        <input type = "radio" name="choice"  id="<%=quiz.choice2%>" value="<%=quiz.choice2%>"/>
        <label for="<%=quiz.choice2%>"><%=quiz.choice2%></label><br>
        <input type = "radio" name="choice"  id="<%=quiz.choice3%>" value="<%=quiz.choice3%>"/>
        <label for="<%=quiz.choice3%>"><%=quiz.choice3%></label><br>
        <input type = "radio" name="choice"  id="<%=quiz.choice4%>" value="<%=quiz.choice4%>"/>
        <label for="<%=quiz.choice4%>"><%=quiz.choice4%></label><br>
        
        <button  type="button" id="checkAnswer" class ="btn btn-primary" disabled>Check Answer</button>   
        <button  type="submit" id="nextQuestion" class ="btn btn-success">Next Question</button>   
    </form>
</div>

<div id = "feedback" ></div>
<script>
    $("#<%=choice%>").prop("checked", true);
    if(<%=isCorrect%>)
    {
        //correct
        $("#feedback").html("<h3 style='color:green;'>Correct Answer<h3>");
    }
    else
    {
        //incorrect
        $("#feedback").html("<h3 style='color:red;'>Incorrect Answer<h3>");
    }
    //disable form
    for(let i = 0; i < 4; i++)
    {
        $("#choice"+i).prop("disabled",true);
    }
</script>
<%- include("templates/footer.ejs") -%>